* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  background-color: rgba(51, 51, 51, 0.8);
}

button {
  color: white;
}

ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}



.col-md-4 form{

  align-self: center;
}



